.team-social li{
    border-right:1px solid #000000 ;
}
.team-social li:last-child{
    border-right: none;
}
.pricing-table-wrap:hover{
    box-shadow: 1px 1px 10px 1px #888888 !important;
}
.product-title{
    padding: 10px;
}

.product-title, .price{
    color: #000000 !important;
}
.product-title:hover{
    color: #ffb703;
}
.container-custom{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-more{
    background-color: #000000;
    /* font-size: 20px; */
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 5px;
}
.btn-more:hover{
    background-color: #ffb703;
    color: #000000;
}
.cart-btn{
    font-size: 20px;
    padding: 10px 15px !important;
    border-radius: 50%;
    position: absolute;
}
.cart-count {
	position: relative;
	top: -31px;
	right: 13px;
}